@model SalesMVC.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle </h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryIdfkNavigation.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryIdfkNavigation.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryIdfkNavigation.CategoryDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryIdfkNavigation.CategoryDescription)
        </dd>
       
    </dl>
</div>
<div>
    <br />
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Editar</a> 
    <br />

        <a asp-action="Index" class="btn btn-outline-danger">Regresar</a>
    
</div>
